<header>
  <div class="container">
      <div class="upper">
        <div class="logo">
          <img class="img" src="../../assets/img/simon-noh-0rmby-3OTeI-unsplash.jpg">
        </div>
        <div class="input">
          <div class="img-input">
            <img src="../../assets/img/icons8-search-30.png">
          </div>
          <form class="txt-input">
            <input type="text" placeholder="nhập tên ca sĩ, bài hát,..">
          </form>
        </div>
        <div class="user-logo">
          <a href="#">Đăng kí</a>
          <a href="#">Đăng nhập</a>
          <img class="img-user" src="../../assets/img/9b04ddb02e6f1baefb327e1a08dda747.jpg" alt="">
        </div>
      </div>
      <div class="bottom">
          <ul class="menu">
            <li>
              <a href="#">MV</a>
              <div class="dropdown">
                <div class="dropdown-content">
                  <div class="title">việt nam</div>
                  <ul>
                    <li class="style"><a class="test-a" href="#">Bài hát</a></li>
                    <li class="style"><a href="#">MV</a></li>
                  </ul>
                </div>
                <div class="dropdown-content">
                  <div class="title">âu mỹ</div>
                  <ul>
                    <li class="style"><a class="test-a" href="#">Bài hát</a></li>
                    <li class="style"><a href="#">MV</a></li>
                  </ul>
                </div>
                <div class="dropdown-content">
                  <div class="title">châu á</div>
                  <ul>
                    <li class="style"><a class="test-a" href="#">Bài hát</a></li>
                    <li class="style"><a href="#">MV</a></li>
                  </ul>
                </div>
                <div class="dropdown-content">
                  <div class="title">hòa tấu</div>
                  <ul>
                    <li class="style"><a class="test-a" href="#">Bài hát</a></li>
                    <li class="style"><a href="#">MV</a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li><a href="#">Mới phát hành</a></li>
            <li>
              <a href="#">Top 100</a>
              <div class="dropdown">
                <div class="dropdown-content">
                  <div class="title">việt nam</div>
                  <ul>
                    <li class="style"><a class="test-a" href="#">nhạc trẻ</a></li>
                    <li class="style"><a href="#">nhạc trữ tình</a></li>
                    <li class="style"><a href="#">quê hương</a></li>
                    <li class="style"><a href="#">rock việt</a></li>
                  </ul>
                </div>
                <div class="dropdown-content">
                  <div class="title">châu mỹ</div>
                  <ul>
                    <li class="style"><a class="test-a" href="#">pop</a></li>
                    <li class="style"><a href="#">rock</a></li>
                    <li class="style"><a href="#">country</a></li>
                    <li class="style"><a href="#">rap / hip hop</a></li>
                  </ul>
                </div>
                <div class="dropdown-content">
                  <div class="title">châu á</div>
                  <ul>
                    <li class="style"><a class="test-a" href="#">hàn quốc</a></li>
                    <li class="style"><a href="#">nhật bản</a></li>
                    <li class="style"><a href="#">hoa ngữ</a></li>
                  </ul>
                </div>
                <div class="dropdown-content">
                  <div class="title">hòa tấu</div>
                  <ul>
                    <li class="style"><a class="test-a" href="#">piano</a></li>
                    <li class="style"><a href="#">guitar</a></li>
                    <li class="style"><a href="#">violin</a></li>
                    <li class="style"><a href="#">cello</a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li>
              <a href="#">Album</a>
              <div class="dropdown">
                <div class="dropdown-content">
                  <div class="title">việt nam</div>
                  <ul>
                    <li class="style"><a href="#">nhạc trẻ</a></li>
                    <li class="style"><a class="test-a" href="#">dance việt</a></li>
                    <li class="style"><a href="#">rap / hip hop</a></li>
                    <li class="style"><a href="#">nhạc trịnh</a></li>
                  </ul>
                </div>
                <div class="dropdown-content">
                  <div class="title">châu mỹ</div>
                  <ul>
                    <li class="style"><a class="test-a" href="#">pop</a></li>
                    <li class="style"><a href="#">country</a></li>
                    <li class="style"><a href="#">R&B / soul</a></li>
                    <li class="style"><a href="#">audiophile</a></li>
                  </ul>
                </div>
                <div class="dropdown-content">
                  <div class="title">châu á</div>
                  <ul>
                    <li class="style"><a class="test-a" href="#">hàn quốc</a></li>
                    <li class="style"><a href="#">nhật bản</a></li>
                    <li class="style"><a href="#">hoa ngữ</a></li>
                    <li class="style"><a href="#">thái lan</a></li>
                  </ul>
                </div>
                <div class="dropdown-content">
                  <div class="title">hòa tấu</div>
                  <ul>
                    <li class="style"><a class="test-a" href="#">piano</a></li>
                    <li class="style"><a href="#">guitar</a></li>
                    <li class="style"><a href="#">violin</a></li>
                    <li class="style"><a href="#">cello</a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li>
              <a href="#">Chủ đề</a>
              <div class="dropdown">
                <div class="dropdown-content">
                  <div class="title">đề xuất</div>
                  <ul>
                    <li class="style"><a href="#">nhạc hot</a></li>
                    <li class="style"><a class="test-a" href="#">hit</a></li>
                    <li class="style"><a href="#">K-Pop HIT</a></li>
                  </ul>
                </div>
                <div class="dropdown-content">
                  <div class="title">Thể loại</div>
                  <ul>
                    <li class="style"><a class="test-a" href="#">EDM</a></li>
                    <li class="style"><a href="#">acoustic</a></li>
                    <li class="style"><a href="#">indie</a></li>
                    <li class="style"><a href="#">không lời</a></li>
                    <li class="style"><a href="#">trữ tình</a></li>
                    <li class="style"><a href="#">Bolero</a></li>
                  </ul>
                </div>
                <div class="dropdown-content">
                  <div class="title">tâm trạng</div>
                  <ul>
                    <li class="style"><a class="test-a" href="#">ngày mưa</a></li>
                    <li class="style"><a href="#">tình yêu</a></li>
                    <li class="style"><a href="#">thư giãn</a></li>
                    <li class="style"><a href="#">motivation</a></li>
                  </ul>
                </div>
                <div class="dropdown-content">
                  <div class="title">hoạt động</div>
                  <ul>
                    <li class="style"><a class="test-a" href="#">tập trung</a></li>
                    <li class="style"><a href="#">spa-yoga</a></li>
                    <li class="style"><a href="#">cà phê</a></li>
                    <li class="style"><a href="#">weekend</a></li>
                    <li class="style"><a href="#">party</a></li>
                    <li class="style"><a href="#">du lịch</a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li>
              <a href="#">Nghệ sĩ</a>
              <div class="dropdown">
                <div class="dropdown-content">
                  <ul>
                    <li class="style"><a href="#">việt nam</a></li>
                    <li class="style"><a href="#">âu mỹ</a></li>
                    <li class="style"><a href="#">hàn quốc</a></li>
                    <li class="style"><a href="#">nhật bản</a></li>
                    <li class="style"><a href="#">hoa ngữ</a></li>
                    <li class="style"><a href="#">hòa tấu</a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
      </div>
  </div>
</header>
