  <div class="body">
    <div class="container">
      <div class="img-container"></div>
      <div class="main-body">

        <!--NGÀY -->
        <div class="main-title">hot today</div>
        <div class="album-slide">
            <div class="container-album">
              <div class="content-album">
                  <a href="#">
                    <img class="img-album" src="../../assets/img/amee.jpg">
                    <div class="opac"></div>
                    <div class="icon">
                      <img src="../../assets/img/icons8-play-24.png" alt="">
                    </div>
                  </a>
              </div>
              <a href="#" class="link"><div>Amee</div></a>
            </div>
            <div class="container-album">
              <div class="content-album">
                  <a href="#">
                    <img class="img-album" src="../../assets/img/hoang-yen-chibi.jpg">
                    <div class="opac"></div>
                    <div class="icon">
                      <img src="../../assets/img/icons8-play-24.png" alt="">
                    </div>
                  </a>
              </div>
              <a href="#" class="link"><div>hoàng yến chibi </div></a>
            </div>
            <div class="container-album">
              <div class="content-album">
                  <a href="#">
                    <img class="img-album" src="../../assets/img/hoa_may.jpeg">
                    <div class="opac"></div>
                    <div class="icon">
                      <img src="../../assets/img/icons8-play-24.png" alt="">
                    </div>
                  </a>
              </div>
              <a href="#" class="link"><div>X2X</div></a>
            </div>
            <div class="container-album">
              <div class="content-album">
                  <a href="#">
                    <img class="img-album" src="../../assets/img/min.jpg">
                    <div class="opac"></div>
                    <div class="icon">
                      <img src="../../assets/img/icons8-play-24.png" alt="">
                    </div>
                  </a>
              </div>
              <a href="#" class="link"><div>min</div></a>
            </div>
        </div>


    <!-- THÁNG -->
        <a href="#" class="link-title"><div class="link-title">sự kiện tháng</div></a>
        <div class="album-slide">
          <div class="container-album">
            <div class="content-album">
                <a href="#">
                  <img class="img-album" src="../../assets/img/fest2020.jpg">
                  <div class="opac"></div>
                  <div class="icon">
                    <img src="../../assets/img/icons8-play-24.png" alt="">
                  </div>
                </a>
            </div>
            <a href="#" class="link"><div>FWD fest</div></a>
          </div>
          <div class="container-album">
            <div class="content-album">
                <a href="#">
                  <img class="img-album" src="../../assets/img/erik_ducphuc.jpg">
                  <div class="opac"></div>
                  <div class="icon">
                    <img src="../../assets/img/icons8-play-24.png" alt="">
                  </div>
                </a>
            </div>
            <a href="#" class="link"><div>hit tháng</div></a>
          </div>
          <div class="container-album">
            <div class="content-album">
                <a href="#">
                  <img class="img-album" src="../../assets/img/dongnhi_ongcaothang.jpg">
                  <div class="opac"></div>
                  <div class="icon">
                    <img src="../../assets/img/icons8-play-24.png" alt="">
                  </div>
                </a>
            </div>
            <a href="#" class="link"><div>Ca sĩ kết hôn</div></a>
          </div>
          <div class="container-album">
            <div class="content-album">
                <a href="#">
                  <img class="img-album" src="../../assets/img/rap_viet.jpg">
                  <div class="opac"></div>
                  <div class="icon">
                    <img src="../../assets/img/icons8-play-24.png" alt="">
                  </div>
                </a>
            </div>
            <a href="#" class="link"><div>rap việt</div></a>
          </div>
      </div>

      <!-- Thế giới -->
      <div class="main-title">thế giới</div>
      <div class="album-slide">
        <div class="container-album">
          <div class="content-album">
              <a href="#">
                <img class="img-album" src="../../assets/img/1_vietnam.jpg">
                <div class="opac"></div>
                <div class="icon">
                  <img src="../../assets/img/icons8-play-24.png" alt="">
                </div>
              </a>
          </div>
          <a href="#" class="link"><div>việt nam</div></a>
        </div>
        <div class="container-album">
          <div class="content-album">
              <a href="#">
                <img class="img-album" src="../../assets/img/1_aumy.jpg">
                <div class="opac"></div>
                <div class="icon">
                  <img src="../../assets/img/icons8-play-24.png" alt="">
                </div>
              </a>
          </div>
          <a href="#" class="link"><div>âu mỹ</div></a>
        </div>
        <div class="container-album">
          <div class="content-album">
              <a href="#">
                <img class="img-album" src="../../assets/img/1_korea.webp">
                <div class="opac"></div>
                <div class="icon">
                  <img src="../../assets/img/icons8-play-24.png" alt="">
                </div>
              </a>
          </div>
          <a href="#" class="link"><div>hàn quốc</div></a>
        </div>
        <div class="container-album">
          <div class="content-album">
              <a href="#">
                <img class="img-album" src="../../assets/img/1_trungquoc.jpg">
                <div class="opac"></div>
                <div class="icon">
                  <img src="../../assets/img/icons8-play-24.png" alt="">
                </div>
              </a>
          </div>
          <a href="#" class="link"><div>trung quốc</div></a>
        </div>
    </div>

        <!-- Hot mv -->
        <!-- 1 -->
          <div class="container-mv">
            <a href="#" class="link-title"><div class="link-title">MV hot</div></a>
              <div class="upper-mv">
                    <div class="content-hotmv">
                      <a href="#" class="link">
                        <div class="img-hotmv">
                            <img class="img-hotmv" src="../../assets/img/mv_hot/phu_tinh.jpg" alt="">
                          </div>
                          <div class="icon-hotmv">
                            <img src="../../assets/img/icons8-play-24.png" alt="">
                          </div>
                        <div class="opac-hotmv"></div>
                        <span class="content1">phụ tình</span><span class="content2">trịnh đình quang</span>
                        </a>
                    </div>

                    <div></div>
                    <div class="content-hotmv">
                      <a href="#" class="link">
                        <div class="img-hotmv">
                            <img class="img-hotmv" src="../../assets/img/mv_hot/la_xa_lia_canh.jpg" alt="">
                          </div>
                          <div class="icon-hotmv">
                            <img src="../../assets/img/icons8-play-24.png" alt="">
                          </div>
                        <div class="opac-hotmv"></div>
                        <span class="content1">chỉ là anh không biết</span><span class="content2">hồ gia khánh</span>
                        </a>
                    </div>
              </div>

              <div class="lower-mv">
                  <div class="container-lowermv">
                    <div class="content-lowermv">
                        <a href="#">
                          <img class="img-lowermv" src="../../assets/img/mv_hot/test.jpg">
                          <div class="opac-lowermv"></div>
                        </a>
                    </div>
                    <a href="#" class="link-lowermv">anh mệt rồi</a>
                    <br>
                    <a href="#" class="link-span">anh quân idol</a>
                  </div>

                  <div class="container-lowermv">
                    <div class="content-lowermv">
                        <a href="#">
                          <img class="img-lowermv" src="../../assets/img/mv_hot/em_can_nguoi_quan_tam.png">
                          <div class="opac-lowermv"></div>
                        </a>
                    </div>
                    <a href="#" class="link-lowermv">em cần một người quan tâm</a>
                    <br>
                    <a href="#" class="link-span">liz, trịnh thăng bình</a>
                  </div>

                  <div class="container-lowermv">
                    <div class="content-lowermv">
                        <a href="#">
                          <img class="img-lowermv" src="../../assets/img/mv_hot/tu_em_ma_ra.png">
                          <div class="opac-lowermv"></div>
                        </a>
                    </div>
                    <a href="#" class="link-lowermv">từ em mà ra</a>
                    <br>
                    <a href="#" class="link-span">lil z poet, đức anh</a>
                  </div>

                  <div class="container-lowermv">
                    <div class="content-lowermv">
                        <a href="#">
                          <img class="img-lowermv" src="../../assets/img/mv_hot/hoa_no_ko_mau.png">
                          <div class="opac-lowermv"></div>
                        </a>
                    </div>
                    <a href="#" class="link-lowermv">hoa nở không màu</a>
                    <br>
                    <a href="#" class="link-span">hoài lâm</a>
                  </div>
              </div>

              <!-- 2 -->
              <div class="lower-mv">
                <div class="container-lowermv">
                  <div class="content-lowermv">
                      <a href="#">
                        <img class="img-lowermv" src="../../assets/img/mv_hot/bai_nay_chill_phet.png">
                        <div class="opac-lowermv"></div>
                      </a>
                  </div>
                  <a href="#" class="link-lowermv">bài này chill phết</a>
                  <br>
                  <a href="#" class="link-span">đen vâu, min</a>
                </div>

                <div class="container-lowermv">
                  <div class="content-lowermv">
                      <a href="#">
                        <img class="img-lowermv" src="../../assets/img/mv_hot/do_ta_ko_do_nang.jpg">
                        <div class="opac-lowermv"></div>
                      </a>
                  </div>
                  <a href="#" class="link-lowermv">độ ta không độ nàng</a>
                  <br>
                  <a href="#" class="link-span">anh duy</a>
                </div>

                <div class="container-lowermv">
                  <div class="content-lowermv">
                      <a href="#">
                        <img class="img-lowermv" src="../../assets/img/mv_hot/hongkong1.jpg">
                        <div class="opac-lowermv"></div>
                      </a>
                  </div>
                  <a href="#" class="link-lowermv">hongkong1</a>
                  <br>
                  <a href="#" class="link-span">nguyễn trọng tài</a>
                </div>

                <div class="container-lowermv">
                  <div class="content-lowermv">
                      <a href="#">
                        <img class="img-lowermv" src="../../assets/img/mv_hot/hay_trao_cho_anh.jpg">
                        <div class="opac-lowermv"></div>
                      </a>
                  </div>
                  <a href="#" class="link-lowermv">hãy trao cho anh</a>
                  <br>
                  <a href="#" class="link-span">sơn tùng M-TP</a>
                </div>
            </div>
          </div>

          <!-- Hot Singer -->
          <div class="title-singer">nghệ sĩ nổi bật</div>
          <div class="hot-singer">
            <div class="container-singer">
              <div class="content-singer">
                  <a href="#">
                    <img class="img-singer" src="../../assets/img/hot_singer/bao_anh_1_1_1.jpg">
                  </a>
              </div>
              <h6><a class="link" href="#">bảo anh</a></h6>
            </div>

            <div class="container-singer">
              <div class="content-singer">
                  <a href="#">
                    <img class="img-singer" src="../../assets/img/hot_singer/chipu.jpeg">
                  </a>
              </div>
              <h6><a class="link" href="#">chi pu</a></h6>
            </div>

            <div class="container-singer">
              <div class="content-singer">
                  <a href="#">
                    <img class="img-singer" src="../../assets/img/hot_singer/hoang_dung.jpg">
                  </a>
              </div>
              <h6><a class="link" href="#">hoàng dũng</a></h6>
            </div>

            <div class="container-singer">
              <div class="content-singer">
                  <a href="#">
                    <img class="img-singer" src="../../assets/img/hot_singer/taylor_swift.jpg">
                  </a>
              </div>
              <h6><a class="link" href="#">taylor swift</a></h6>
            </div>

            <div class="container-singer">
              <div class="content-singer">
                  <a href="#">
                    <img class="img-singer" src="../../assets/img/hot_singer/Justin_Bieber.jpg">
                  </a>
              </div>
              <h6><a class="link" href="#">Justin Bieber</a></h6>
            </div>
          </div>

          <div class="main-title">sản phẩm</div>
          <div class="newspaper">
            <div class="container-device">
              <img class="img-logo" src="../../assets/img/device.jpg">
            </div>
            <div class="paragraph">
              <div class="p1">Nghe nhạc thỏa thích</div>
              <p class="p2">C4pid đã có trên Web, iOS, Android, Sonos, Chromecast, và Xbox One.</p>
              <div class="device">
                <a href="#"><img src="../../assets/img/t_app_store.png"></a>
                <a href="#" class="d2"><img src="../../assets/img/t_google_play.png"></a>
              </div>
            </div>
          </div>

          <div class="line"></div>
          <div class="footer">
            <div class="box-company">
              <div class="box-img-company">
                <img class="img-company" src="../../assets/img/logo.PNG" alt="">
              </div>
              <div class="company-info">
                <div class="main-title">công ty giải trí c4pid</div>
                <ul>
                  <li>Công ty chủ quản: Công ty phần mềm FPT Information System</li>
                  <li>Chịu trách nhiệm nội dung: Ông Trịnh Quang Vinh</li>
                  <li>Địa chỉ giao dịch: Đại Học FPT Hòa Lạc</li>
                  <li>Chăm sóc khách hàng: Vinhtqhe130034@fpt.edu.vn</li>
                  <li>Hợp tác nội dung: hoptac@c4pid.com</li>
                  <li>Giấy phép: Giấy phép: Số 365/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 28/07/2017</li>
                  <li>Giới thiệu | Quy định sử dụng | Góp ý - Báo lỗi | Liên hệ quảng cáo</li>
                </ul>
              </div>
            </div>


            <div class="container-footer">
                <div class="container-img-footer">
                  <img src="../../assets/img/img_footer.jpg" class="img-footer">
                </div>
                <div class="info"><p class="center">Một sản phẩm của C4pid</p></div>
            </div>

            <ul class="nav-footer">
              <li class="footer-link"><a href="#" class="footer-link">Giới thiệu</a></li>
              <li class="footer-link">•</li>
              <li class="footer-link"><a href="#" class="footer-link">Liên hệ</a></li>
              <li class="footer-link">•</li>
              <li class="footer-link"><a href="#" class="footer-link">Quảng cáo</a></li>
              <li class="footer-link">•</li>
              <li class="footer-link"><a href="#" class="footer-link">Góp ý</a></li>
              <li class="footer-link">•</li>
              <li class="footer-link"><a href="#" class="footer-link">Quy định sử dụng</a></li>
            </ul>
          </div>
      </div>
    </div>
  </div>

